*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#container{
    height: 100vh;
    width: 100%;
    background-color: wheat;
}
#navbar{
    height: 80px;
    width: 100%;
    background-color: indianred;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 30px;
    font-size: 32px;
}
#navbar ul{
    height: inherit;
    width: 25%;
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 25px;
    margin-right: 50%;
    cursor: pointer;
}
#list{
    display: flex;
    margin: 20px;
}
.tasks{
    height: 200px;
    width: 200px;
    border: 2px solid ;
    border-radius: 10px;
    padding: 15px;
    margin: 15px;
    background-color: khaki;
}
.tasks h1{
    margin: 5px 0px;
}
.tasks p{
    margin: 2px 8px;
    color: rgb(52, 52, 52);
}
#new_task{
    position: fixed;
    top: 85%;
    left: 90%;
    height: 70px;
    width: 70px;
    border: 3px solid rgb(62, 62, 62);
    border-radius: 50px;
    font-size: 62px;
    background-color: rgba(214, 106, 29, 0.897);
    color: white;
}
#popup{
    height: 100vh;
    width: 100%;
    position: absolute;
    top: 0;
    background-color: rgba(255, 255, 255, 0.7) ;
    display: flex;
    justify-content: center;
    align-items: center;
}
#form_container{
    background-color: aliceblue;
    border: 2px solid black;
    border-radius: 5px;
    height: 400px;
    width: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.task_form{
    margin: 15px;
}
.task_form input{
    width: 500px;
    height: 60px;
    padding: 15px;
    font-size: 25px;
    font-weight: bold;
    border-radius: 10px;
}
.task_form textarea{
    width: 500px;
    height: 200px;
    padding: 15px;
    font-size: 16px;
    border-radius: 10px;
}
.task_form button{
    font-size: 14px;
    font-weight: bolder;
    padding: 8px;
    margin-right: 20px;
    background-color: rgb(42, 227, 255);
    border-radius: 3px;
}